<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <extensions>
      <add assembly="SplunkTarget" />
    </extensions>
    <targets async="false">
      <target name="file" xsi:type="File" fileName="_Logs/ConsoleExample.${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${logger} [${ndc}] ${message}" />
      <target name="debugger" xsi:type="Debugger" layout="${time} ${uppercase:${level}} ${message}" />
      <target name="console" xsi:type="ColoredConsole" layout="${time} ${uppercase:${level}} [${ndc:separator=/}] ${message}" />
      <target name="splunkstorm" xsi:type="SplunkTarget"
              host="api.XXXXXXXXXXXXXX.data.splunkstorm.com"
              projectId="XXXXXXXXXXXXXXXXX"
              accessToken="XXXXXXXXXXXXXXXXXXX"
              source="ConsoleExample"
              tz="America/Los_Angeles"
              layout="'SessionId':'${mdc:item=SessionId}','MessageId':'${mdc:item=MessageId}'"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="debugger,console,file,splunkstorm" />
    </rules>
  </nlog>
</configuration>
